<?xml version="1.0"?>
<config>
  <modules>
    <HK_Customoption>
      <version>0.1.0</version>
    </HK_Customoption>
  </modules>
  <frontend>
    <routers>
      <customoption>
        <use>standard</use>
          <args>
            <module>HK_Customoption</module>
            <frontName>customoption</frontName>
          </args>
      </customoption>
    </routers>
    <layout>
      <updates>
            <customoption>
              <file>customoption.xml</file>
            </customoption>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <customoption>
        <class>HK_Customoption_Helper</class>
      </customoption>
    </helpers>
	<blocks>
	  <customoption>
		<class>HK_Customoption_Block</class>
	  </customoption>
	</blocks>
  </global>
</config> 